* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(../images/green-leaves.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Arapey", serif;
}

.logo {
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.2s ease;
}
.nav-links a:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(126, 235, 189);
  color: rgba(126, 235, 189, 1);
  font-size: 19px;
}

/*Burger */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: aliceblue;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* Content Section */
.content {
  height: 91vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.wild {
  text-transform: uppercase;
  animation: wildlife-animation 2s infinite;
  -webkit-animation: wildlife-animation 2s infinite;
}
.quote {
  margin-left: 50px;
  margin-right: 50px;
}
p {
  margin-top: 150px;
  font-size: 250%;
  font-family: "Arapey", serif;
  color: #fff;
  align-content: center;
  text-align: center;
}

/* .user div for button styling */
.user {
  padding: 5% 20%;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px 30px;
  padding: 10px 50px;
  font-size: 110%;
  align-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px;
}

.btn-full {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(17, 153, 90);
  border: 1px solid rgb(17, 153, 90);
  border-radius: 200px;
  transition: background-color 0.3s, border 0.2s, color 0.3s;
}
.btn-full:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 5px rgb(43, 153, 92);
  background-color: rgba(69, 194, 135, 0.5);
  color: rgb(126, 235, 189);
}

@media screen and (max-width: 2000px) {
  body {
    background-size: cover;
    height: 100vh;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
  body {
    background-size: cover;
    height: 100vh;
  }
  p {
    font-size: 245%;
  }
}

@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  p {
    font-size: 225%;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transition: transform 0.5s ease-in;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .btn-full {
    margin-top: 35px;
  }
}

/* css animation for burger */
.nav-active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

/* Animations */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

/* to change the burger to X mark when active */

.cross-mark .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -moz-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  -o-transform: rotate(-45deg) translate(-5px, 6px);
}
.cross-mark .line2 {
  opacity: 0;
}
.cross-mark .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -moz-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  -o-transform: rotate(45deg) translate(-5px, -6px);
}

/* Content animation */
@keyframes wildlife-animation {
  0% {
    color: #046314;
  }
  25% {
    color: #11995a;
  }
  50% {
    color: #79e290;
  }
  75% {
    color: #11995a;
  }
  100% {
    color: #046314;
  }
}
@keyframes logo-animation {
  0% {
    color: #ffffff;
  }
  25% {
    color: #7be0b1;
  }
  50% {
    color: #46db66;
  }
  75% {
    color: #7be0b1;
  }
  100% {
    color: #ffffff;
  }
}

/* Grid styling */

.box {
  width: 95%;
  height: 92vh;
  margin: 2%;
}
.outer {
  width: 98%;
  height: 90vh;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(17, 153, 90, 0.3);
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 1);
  width: 25vw;
  height: 25vh;
  text-align: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.card:hover {
  box-shadow: 0 0 15px 5px rgb(111, 151, 120);
}

.img {
  width: 100%;
  height: 100%;
}
