* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/african-lion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 15px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Arapey", serif;
}

.nav-links {
  display: flex;
  padding-right: 15px;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.2s ease;
}
.nav-links a:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(126, 235, 189);
  color: rgba(126, 235, 189, 1);
  font-size: 19px;
}

/*Burger */

.burger {
  display: none;
  margin-right: 30px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: aliceblue;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  width: 60%;
  margin-left: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 120%;
  box-shadow: 0px 0px 5px 0px;
  transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.form {
  left: 25%;
  height: 50px;
  width: 50%;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.form input {
  width: 100%;
  height: 100%;
  color: rgb(199, 205, 224);
  padding-top: 20px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;

  pointer-events: none;

  border-bottom: 1px solid #ffffff;
}

.form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  bottom: -1px;
  border-bottom: 3px solid #11995a;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.date {
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}

.form input:focus + .label-name .content-name,
.form :valid + .label-name .content-name {
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  font-size: 14px;
  color: #11995a;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

input {
  width: 250px;
  border: 0px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

label {
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}
#old-user {
  color: #74c7ee;
  margin-left: 30px;
  font-size: 85%;
  transition: all 0.3s ease;
}
.btn {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  margin: 10px 20px;
  width: 100px;
  font-size: 85%;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full {
  background-color: rgba(0, 0, 0, 0.1);
  color: #bdf1bc;
  border: 1px solid #11995a;
  box-shadow: 0px 0px 10px;
  transition: all 0.3s ease;
}

/* Icon styling */
.home {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px;
  padding-top: 12px;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease;
  margin-left: 20px;
  margin-top: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home:hover {
  z-index: 1;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #11995a;
}
/* On Hover */

.box:hover {
  box-shadow: 0px 0px 6px 1px;
}
label:hover {
  font-size: 110%;
  padding-bottom: 5px;
  color: #bdf1bc;
  border-bottom: 1px solid #bdf1bc;
}
#old-user:hover {
  color: #bdf1bc;
  font-size: 95%;
}
.btn:hover {
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-full:hover {
  width: 105px;
  height: 34px;
  font-size: 95%;
  background-color: #195df0;
  color: aliceblue;
  border: 1px solid #195df0;
  box-shadow: 0px 0px 10px;
}

/* Screen scaling */
@media only screen and (max-width: 800px) {
  body {
    background-size: 100vh;
    height: 100vh;
  }
  * {
    font-size: 95%;
  }
  .box {
    width: 80%;
    margin-right: 15%;
    margin-left: 15%;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .nav-links {
    width: 50%;
  }
}
@media only screen and (max-width: 1180px) {
  body {
    background-size: cover;
    height: 100vh;
  }
  * {
    font-size: 100%;
  }
  .box {
    width: 80%;
    margin-right: 15%;
    margin-left: 15%;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .nav-links {
    width: 50%;
  }
}
@media only screen and (max-width: 760px) {
  body {
    background-size: cover;
  }
  * {
    font-size: 95%;
  }
  .box {
    width: 90%;
    margin-right: 4%;
    margin-left: 4%;
    padding-right: 2%;
    padding-left: 2%;
  }
  .nav-links {
    width: 50%;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transition: transform 0.5s ease-in;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

/* css animation for burger */
.nav-active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

/* Animations */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

/* to change the burger to X mark when active */

.cross-mark .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -moz-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  -o-transform: rotate(-45deg) translate(-5px, 6px);
}
.cross-mark .line2 {
  opacity: 0;
}
.cross-mark .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -moz-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  -o-transform: rotate(45deg) translate(-5px, -6px);
}

/*table styling*/

td {
  width: 250px;
  padding-left: 15px;
}

td:hover {
  color: #11995a;
}

tr {
  height: 50px;
  text-align: left;
}

#edit-btn {
  text-align: center;
}

.edit-data {
  padding: 10px;
  border-radius: 25;
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  -ms-border-radius: 25;
  -o-border-radius: 25;
}

.icon-edit-col {
  width: 50px;
}

.edit-data {
  padding: 10px;
  border-radius: 25;
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  -ms-border-radius: 25;
  -o-border-radius: 25;
}

.edit_icon {
  cursor: pointer;
  font-size: 18px;
}
